<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>YOUR PRODUCTS ARE:</h1>
    <ul>
{{#consoles}}
<li>{{name}} {{price}}€ <form action="../product/buy/videogame/{{id}}" method="get"><input type="submit" value="Delete"></form></li>
    {{/consoles}}
    </ul>
    <ul>
        {{#videogames}}
<li>{{name}} {{price}}€ <form action="../product/buy/videogame/{{id}}" method="get"><input type="submit" value="Delete"></form></li>
{{/videogames}}
        </ul>

</body>
</html>