<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
  <link href="http://localhost:8443/css/login.css" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript">
  function hello(){
    var user=document.getElementById("email");
    var name=user.value;
    alert("Login success - Hello " + name +"!!");
  }
</script>
<body>
<form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input type="email" id="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
  <input type="password" class="login-password" required="true" placeholder="Password" />
  <input type="submit"  name="Login" value="Login" class="login-submit" onclick="hello();"/>
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</body>

</html>