<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAYMENT</title>
</head>
<body>
<p>You've payed {{totalprod}} products.</p>
<p>The price is: {{totalprice}}€</p>
<p>YOUR PRODUCTS ARE:</p>
<p>1. Consoles:</p>
{{#consoles}}
<p>{{name}}}</p>
{{/consoles}}

<p>2. Videogames:</p>
{{#videogames}}
<p>{{name}}</p>
{{/videogames}}
<br>
<p> THANKS!</p>
<div><img src="https://media0.giphy.com/media/URd2XgYe4nfFrXUGzw/giphy.gif?cid=6c09b952893ea1c6d9607b181eda28d6c91917d5144eb226&rid=giphy.gif&ct=s"></div>
</body>
</html>