<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://localhost:8443/css/register_form.css" rel="stylesheet" type="text/css">
    <title>NO SE QUE TITULO PONERLE A ESTO</title>
</head>
<body>
<section class="form-register">
    <form action="/register" method="post">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="name" placeholder="Write your name...">
        <input class="controls" type="text" name="surname" placeholder="Write your surname...">
        <input class="controls" type="email" name="mail" placeholder="Write your e-mail">
        <input class="controls" type="password" name="password"  placeholder="Write your password">
        <input class="controls" type="text" name="phone"  placeholder="Write your phone number">
        <input class="botons" type="submit" value="Register">
    </form>
</section>

</body>
</html>