<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHOSSEEEE</title>
    <link href="choosecss.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1> WHAT DO YOU WANT TO SELL?</h1>


<div class="image-container">
    <a href="INSERTAR ENLACE PLANTILLA"><img style="left: 200px"src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Video-Game-Controller-Icon.svg/1024px-Video-Game-Controller-Icon.svg.png" height="200" width="200"/></a>
    <a href="INSERTAR ENLACE PLANTILLA"><img src="https://cdn-icons-png.flaticon.com/512/2218/2218396.png" height="200" width="200"/></a>

</div>

</body>
