<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios Registrados</title>
    <link href="https://localhost:8443/css/users.css" rel="stylesheet" type="text/css">

</head>
<body>
<a href="http://www.thismanslife.co.uk" target="_blank">Usuarios Registrados</a>

<br>
<br>
<br>
<br>
<br>

<div class="testbox">

    <h1>Welcome to the admin page, {{account}}</h1>
    <h3>These are the currently registered users...</h3>

    {{#users}}
    <br>
    <a href="/users/{{id}}">{{name}}</a>
    <form action="/users/delete/{{id}}" method="post">
        <input type="submit" value="DELETE">
    </form>
    {{/users}}
</div>
</body>
</html>