<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Videogames Available</title>
    <link href="../css/videogames.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- Main Container -->
<div class="container">
    <!-- Navigation -->
    <header> <a href="">
        <!-- Antigua imagen: https://www.crushpixel.com/big-static20/preview4/console-joystick-icon-cartoon-3876206.jpg-->
        <h4 class="logo"><img src="https://cdn-icons-png.flaticon.com/512/2004/2004993.png" width="40" height="35"> </h4>
    </a>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>

            </ul>
        </nav>
    </header>
    <!-- Hero Section -->
    <section class="hero" id="hero">
        <h2 class="hero_header"><font face="impact" size ="350" color="black">VIDEOGAMES LIST...</font></h2>
        <p><strong> BEST SHOP, BEST DISCOUNT</strong></p>
    </section>
    <!-- About Section -->
    <section class="about" id="about">
        <h2 class="hidden">About</h2>
        <div style="text-align: justify;">
            {{#videogames}}

            <a href="videogames/{{-index}}">{{name}}</a> Price: {{price}}€ <form method="post" action="/product/buy/videogame/{{id}}"><input type="submit" value="BUY!"></form><br>

            {{/videogames}}

        </div>
    </section>
    <!-- Stats Gallery Section -->
    <!-- Parallax Section -->
    <section class="banner"> </section>
    <!-- More Info Section -->
    <footer> </footer>
    <!-- Footer Section -->
    <!-- Copyrights Section -->
    <div class="copyright">ACTUALRETRO, BEST SHOP, BEST DISCOUNTS...<br>
    </div>
</div>
<!-- Main Container Ends -->
</body>
</html>